9495_0708+ABA_rep1	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0708+ABA_R1.deduped.pairs.gz
9495_0708+ABA_rep2	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0708+ABA_R2.deduped.pairs.gz
9495_0708+ABA_rep3	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0708+ABA_R3.deduped.pairs.gz
9495_0405-ABA_rep1	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0405-ABA_R1.deduped.pairs.gz
9495_0405-ABA_rep2	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0405-ABA_R2.deduped.pairs.gz
9495_0405-ABA_rep3	/public/users/pghzeng/ecDNA/Data/4C-seq/pairs/9495_0405-ABA_R3.deduped.pairs.gz
